/Debug/
.vs
keilkill.bat

.gitattributes
.git
.settings/com.atollic.truestudio.debug.hardware_device.prefs
.settings/language.settings.xml
.settings/org.eclipse.cdt.managedbuilder.core.prefs
.vs/ProjectSettings.json
.vs/Schmeiser Robo/v15/.suo
.vs/Schmeiser Robo/v15/Browse.VC.db
.vs/Schmeiser Robo/v15/ipch/AutoPCH/828858da5dd389b5/COMMON.ipch
.vs/Schmeiser Robo/v15/ipch/AutoPCH/b322856a7bdfa875/STA_TEST.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
keilkill.bat
.gitattributes

keilkill.bat
*.bak
*.ddk
*.edk 
*.lst 
*.lnp 
*.mpf 
*.mpj 
*.obj 
*.omf 
*.plg 
*.rpt 
*.tmp 
*.__i 
*.crf 
*.o 
*.d 
*.axf 
*.tra 
*.dep   
.vs/Schmeiser Robo/v15/Browse.VC.opendb
.vs/Schmeiser Robo/v15/ipch/AutoPCH/1ce0d9a6c5b5f7ff/AP_MAIN.ipch
.vs/Schmeiser Robo/v15/ipch/AutoPCH/7683f99ed0e59a88/INIT.ipch
.vs/Schmeiser Robo/v15/ipch/AutoPCH/879187cd942c7433/BSP_MOTOR.ipch
.vs/Schmeiser Robo/v15/ipch/AutoPCH/923d3bc047edb47d/AP_TEST.ipch
.vs/Schmeiser Robo/v15/ipch/AutoPCH/ff361b7d70c42f43/BSP_GENERALTIM.ipch
.vs/slnx.sqlite-journal
.vs/Schmeiser Robo/v15/ipch/AutoPCH/9b92e7cad6888eca/

